<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="androids.newapp">

    <uses-sdk
        android:minSdkVersion="20"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>


    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->

    <application
        android:allowBackup="true"
        android:icon="@drawable/empower"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MyProfile"
            android:label="Myprofile"
            android:screenOrientation="locked"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" android:screenOrientation="locked"/>

        <activity android:name=".SignUpActivity" android:screenOrientation="locked" />

        <activity android:name=".Description"
            android:screenOrientation="locked"
            android:parentActivityName=".MapsActivity"/>

        <activity
            android:name=".Home"
            android:label="Home"
            android:screenOrientation="locked"
            android:parentActivityName=".Hire"/>

        <activity
            android:name=".Profile"
            android:label="History"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Hire"
            android:label="Hire"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Settings"
            android:label="Settings"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Logout"
            android:theme="@style/AppTheme.NoActionBar" />


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:screenOrientation="locked"
            android:label="@string/title_activity_maps">
        </activity>

        <activity android:name=".DispalyProfile"
            android:parentActivityName=".DisplayImage"
            android:screenOrientation="locked"
            ></activity>

        <activity android:name=".Workers"
            android:screenOrientation="locked"
            android:parentActivityName=".Home"></activity>

        <activity android:name=".DisplayImage"
            android:screenOrientation="locked"
            android:parentActivityName=".Profile"></activity>
    </application>

</manifest>